<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
    </div>
    <div class="container">
        <div class="col-sm-6 text-left">
            <div class="block-item">{{ one }}</div>
            <div class="block-item">{{ two }}</div>
            <div class="block-item">{{ three }}</div>
        </div>
        <hr>
        <div class="col-sm-6 text-left">
            <input type="text" v-model="query" class="form-control" placeholder="search..." @keyup.enter="searchQuery()">
        </div>
        <hr>
        <div class="col-sm-6 text-left">
            <div class="block-item" v-for="item in result" :key="item.id">{{ item.value }}</div>
            <p class="text-warning">{{ warning }}</p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import 'bootstrap/dist/css/bootstrap.css';
    import 'bootstrap-vue/dist/bootstrap-vue.css';

    export default {
        name: 'HelloWorld',
        props: {
            msg: String,
        },
        data() {
            return {
                one: null,
                two: null,
                three: null,
                result: null,
                warning:null,
                query:""
            };
        },
        mounted() {
            axios.get("https://api.chucknorris.io/jokes/random")
            .then(response => this.one = response.data.value);

            axios.get("https://api.chucknorris.io/jokes/random")
            .then(response => this.two = response.data.value);

            axios.get("https://api.chucknorris.io/jokes/random")
            .then(response => this.three = response.data.value);
        },
        methods: {
            searchQuery() {
                axios.get("https://api.chucknorris.io/jokes/search?query="+this.query)
                .then(response => {
                    if(response.data.total!=0){
                        this.result = response.data.result;
                    } else {
                        this.warning = "No result";
                    }
                })
                .catch(response => {
                    this.warning = response.message;
                });
            },
        }
    }
</script>
<style scoped>
    .block-item {
        padding: 15px;
        border: 1px solid #eee;
        margin-bottom: 15px;
    }
</style>
